<div class="quadro">
    <img src="assets/Images/saomiguel.jpeg" height="282px" width="1000"> 
</div>

<div class="quadro2">
    
    <div class="quadro2-1">
        <h1>CONHEÇA NOSSAS REDES SOCIAIS</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/youtube.jpg" alt=" Assista no youtube" >
        <p>Clique aqui e conheça nosso canal de <br>Evangelização no Youtube.</p>
        </a>
        
    </div>
    <div class="quadro2-2">
        <h1>COMUNIDADE SÃO MIGUEL</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/comunidade.jpg" alt=" Assista no youtube" >
            <p>Saiba mais sobre o Recanto Sentinela São<br>Miguel, Nossa vocação, Trabalhos <br>
            realizados juntos com a comunidade e mais...</p>
        </a>
    </div>

    <div class="quadro2-3">
        <h1>CONHEÇA NOSSA LOJA FISICA</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/localizacao.jpeg" alt=" Assista no youtube">
            <p>Venha conhecer Nossa Livraria com<br>inúmeros Artigos Religiosos.</p>
        </a>
    </div>

</div>

<div class="quadro3">
    
    <div class="quadro3-1">
        <h1>ARTIGOS:</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/maria.jpeg" alt=" Assista no youtube" >
        <p>O caminho para a verdadeira felicidade <br>começa em Nossa Senhora</p>
        </a>
        
    </div>
    <div class="quadro3-2">
        <h1>ARTIGOS:</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/2024.jpeg" alt=" Assista no youtube" >
            <p>Cinco conselhos de um Santo para o seu<br>Ano Novo.</p>
        </a>
    </div>

    <div class="quadro3-3">
        <h1>ARTIGOS:</h1>
        <a href="https://www.youtube.com/watch?v=eZWrDOJanB4" target="_blank">
            <img src="assets/Images/casamento.jpg" alt=" Assista no youtube">
            <p>Seis dicas para um casamento feliz.</p>
        </a>
    </div>

</div>

<div class="quadro4">
    <h1>COMUNIDADE SÃO MIGUEL - LIVRARIA IMACULADA CONCEIÇÃO</h1>
    
</div>



<div class="quadro5">
    
        <p>A Livraria Imaculada Conceição é uma referência no segmento de artigos religiosos, 
        atendendo a comunidade de Itaperuna, RJ. Com um acervo 
        diversificado e de qualidade, nossa missão é proporcionar aos fiéis acesso a 
        obras e itens que enriquecem a fé e fortalecem a espiritualidade. 
        Estamos comprometidos em oferecer um atendimento personalizado e acolhedor.</p>
    
    
    
    
</div>



    <a href="https://www.youtube.com/watch?v=eZWrDOJanB4">
     <div class="quadro6">   
    
    </div>
     </a>

